  




<h3> India's first virtual taxistand. Now hire a taxi with least price without an advance booking!</h3>

  <div class="center jumbotron">
    <h4> Where you would like to be picked up </h4>
    <%= form_tag users_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], class: 'input-large' %>
    <%= submit_tag "Search Taxi", :name => nil, class: "btn btn-small btn-primary" %>
  </p>

<% end %>

</div>







