<% provide(:title, 'All users') %>


<h3> India's first virtual taxistand. Now hire a taxi with least price without an advance booking!</h3>

  
<div class="center jumbotron ">
  

<h4> Where you would like to be picked up </h4>

<form method="get">
<% @options = User.all.map { |a|  a.location } %>
<div class="row">
<div class="span6 offset3" >
<%= select_tag("location", options_for_select(@options)) %>
</div>
</div>

<input type="submit" value="Search Taxi", class="btn btn-primary btn-lg"  />
</form>

</div>


</br>

<div class= "center" >
<h3>All Taxis available in your city</h3>

</div>



<table class="table table-striped">  
        <thead>  
          <tr>  
            <th></th> 
            <th>Name</th>  
            <th>Contact</th>  
            <th>Vehicle</th>  
            <th>location</th>  
            <th>Quote</th>
          </tr>  
        </thead>  


<ul class="users">
  <%= render @users %>
</ul>
 </table>




