<% provide(:title, 'All users') %>

<div class="center hero-unit">
<h1> Where you would like to be picked up </h1>

<form method="get">
<% @options = User.all.map { |a|  a.location } %>
<%= select_tag("location", options_for_select(@options)) %>
<input type="submit" value="Find Taxi" />

</div>




</form>


<h1>All Taxis available in your area</h1>





<ul class="users">
  <%= render @users %>
</ul>



