<footer class="footer">
  <div class="share">

    Address </br>
    #1249, 14th A Cross, 29th main, </br>
    BTM 2nd Stage, Bangalore 560076



    </div>
  <nav>
    <ul>
      <div class= "footelement">
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http:/">Blog</a></li>
      </div>
    </ul>

  </nav>
</footer>




